# Modeling and Simulation Project 1: Eriel and Mia

## What would Rwanda's population look like today had the Rwandan genocide not occurred?

In [1]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

import random

#We got this code from Allen Downey, just by the way :)

In order to answer this question, we must ask ourselves: what divergences are there between the actual observed population chart of Rwanda, and that of what it could have been? In this case, the "what it could have been" is repesented by a country with a similar population chart: Tanzania.

In the cell below, we use pandas to import previously downloaded data in the form of Excel spreadsheets. This data gives us the birth and death rates from 1960 to 2016 in Rwanda and Tanzania. We will assign each piece of data to an appropriate variable.

In [6]:
import pandas as pd
birthfile = 'data/birth_rate.xlsx'
deathfile = 'data/death_rate.xlsx'
birth_rate = pd.read_excel(birthfile)
rwanda_birth = birth_rate['Rwanda']
tanzania_birth = birth_rate['Tanzania']
death_rate = pd.read_excel(deathfile)
rwanda_death= death_rate['Rwanda']
tanzania_death= death_rate['Tanzania']

0     20.502
1     20.313
2     20.125
3     19.931
4     19.726
5     19.507
6     19.270
7     19.018
8     18.753
9     18.475
10    18.184
11    17.877
12    17.559
13    17.236
14    16.913
15    16.603
16    16.314
17    16.053
18    15.826
19    15.633
20    15.473
21    15.340
22    15.224
23    15.121
24    15.029
25    14.954
26    14.906
27    14.889
28    14.903
29    14.940
30    14.993
31    15.051
32    15.099
33    15.120
34    15.098
35    15.014
36    14.853
37    14.613
38    14.297
39    13.911
40    13.460
41    12.955
42    12.417
43    11.865
44    11.316
45    10.787
46    10.290
47     9.825
48     9.394
49     8.998
50     8.633
51     8.290
52     7.959
53     7.635
54     7.318
55     7.015
56     6.737
Name: Tanzania, dtype: float64

Now, we will assign all these variables, as well as a start and end time, to two System objects, represented by the variables 'systemR'and 'systemT.'

In [13]:
systemR = System(
                birth = rwanda_birth,
                death = rwanda_death,
                t_0 = 1960,
                t_end = 2016)
systemT = System(
                birth = tanzania_birth,
                death = tanzania_death,
                t_0 = 1960,
                t_end = 2016)

birth    0     49.296
1     49.249
2     49.191
3     4...
death    0     20.502
1     20.313
2     20.125
3     1...
t_0                                                   1960
t_end                                                 2016
dtype: object

We will now define a function that will update the population as time progresses.

In [20]:
def update_pop(current_pop, system):
    """Update population based on what it really was.
    
    current_pop: current population
    year: what year it is
    system: system object with model parameters
    """
    # note: we still need to put in the original populations of rwanda and tanzania in order to have a number to go off of
    system.growth = system.birth - system.death
    net_growth = current_pop + system.growth
    return current_pop + net_growth

In [21]:
def plot_results(set1, set2, timeseries, title):

    plot(set1, ':', label='World Bank Data')
    plot(set2, '--', label='Hypothetical Growth')
    decorate(xlabel='Year', 
             ylabel='Rwandan population',
             title=title)

In [24]:
def runSet(set1, set2, update_pop, plot_results):
    update_pop(current_pop, set1)
    update_pop(current_pop, set2)
    plot_results(set1, set2, timeseries, title)

In [25]:
runSet(systemR, systemT, update_pop, plot_results)

NameError: name 'current_pop' is not defined

Now that we have run our functions, we should have a proper-looking model that compares Rwanda's actual population growth chart with a hypothetical chart based on that of Tanzania.

In [26]:
#ending notes: we still need to add in population and also collectively figure out what the
#difference is going to be between the hypothetical growth chart of Rwanda and just the
#actual growth chart of Tanzania.

In [27]:
#maybe something in the function, like, if the year is within the range of years where we
#saw the death rate shoot up due to the genocide, then use tanzania's numbers, but otherwise
#just use the same numbers as rwanda had. or, alternatively, we could use tanzania's numbers
#loosely by adding some form of randomization that changes them a bit each time? thoughts?