# Modeling and Simulation Project 1: Eriel and Mia

## What would Rwanda's population look like today had the Rwandan genocide not occurred?

In [23]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

import random

#We got this code from Allen Downey, just by the way :)

In order to answer this question, we must ask ourselves: what divergences are there between the actual observed population chart of Rwanda, and that of what it could have been? In this case, the "what it could have been" is repesented by a country with a similar population chart: Tanzania.

In [24]:
import pandas as pd
birthfile = 'data/birth_rate.xlsx'
deathfile = 'data/death_rate.xlsx'
birth_rate = pd.read_excel(birthfile)
rwanda_birth = birth_rate['Rwanda']
tanzania_birth = birth_rate['Tanzania']

0     49.296
1     49.249
2     49.191
3     49.125
4     49.053
5     48.972
6     48.877
7     48.765
8     48.635
9     48.490
10    48.338
11    48.189
12    48.048
13    47.920
14    47.799
15    47.678
16    47.543
17    47.381
18    47.187
19    46.960
20    46.709
21    46.445
22    46.182
23    45.929
24    45.690
25    45.458
26    45.223
27    44.976
28    44.709
29    44.422
30    44.117
31    43.796
32    43.471
33    43.153
34    42.854
35    42.590
36    42.375
37    42.214
38    42.107
39    42.051
40    42.045
41    42.085
42    42.154
43    42.229
44    42.288
45    42.302
46    42.240
47    42.092
48    41.852
49    41.522
50    41.112
51    40.639
52    40.133
53    39.621
54    39.120
55    38.640
56    38.186
Name: Tanzania, dtype: float64

In [25]:
death_rate = pd.read_excel(deathfile)
rwanda_death= death_rate['Rwanda']
tanzania_death= death_rate['Tanzania']
tanzania_death

0     20.502
1     20.313
2     20.125
3     19.931
4     19.726
5     19.507
6     19.270
7     19.018
8     18.753
9     18.475
10    18.184
11    17.877
12    17.559
13    17.236
14    16.913
15    16.603
16    16.314
17    16.053
18    15.826
19    15.633
20    15.473
21    15.340
22    15.224
23    15.121
24    15.029
25    14.954
26    14.906
27    14.889
28    14.903
29    14.940
30    14.993
31    15.051
32    15.099
33    15.120
34    15.098
35    15.014
36    14.853
37    14.613
38    14.297
39    13.911
40    13.460
41    12.955
42    12.417
43    11.865
44    11.316
45    10.787
46    10.290
47     9.825
48     9.394
49     8.998
50     8.633
51     8.290
52     7.959
53     7.635
54     7.318
55     7.015
56     6.737
Name: Tanzania, dtype: float64

In [26]:
#birth_rate[1]
system = System(
    r_b = rwanda_birth,
                r_d = rwanda_death,
                t_b = tanzania_birth,
                t_d = tanzania_death,
                t_0 = 1960,
                t_end = 2016)

r_b      0     52.248
1     51.642
2     51.036
3     5...
r_d      0     22.980
1     22.652
2     22.307
3     2...
t_b      0     49.296
1     49.249
2     49.191
3     4...
t_d      0     20.502
1     20.313
2     20.125
3     1...
t_0                                                   1960
t_end                                                 2016
dtype: object

In [27]:
system.growth = system.birth_rate - system.death_rate

AttributeError: 'System' object has no attribute 'birth_rate'

In [28]:
def update_real(current_pop, year, system):
    """Update population based on what it really was.
    
    current_pop: current population
    year: what year it is
    system: system object with model parameters
    """
    net_growth = current_pop + system.growth
    return current_pop + net_growth

In [29]:
def plot_results(source, hypothetical, timeseries, title):

    plot(source, ':', label='World Bank Data')
    plot(hypothetical, '--', label='Hypothetical Growth')
    decorate(xlabel='Year', 
             ylabel='Rwandan population',
             title=title)

In [30]:
system2 = System(other_pop = other_pop,
                birth_2 = birth_2,
                death_2 = death_2,
                t_02 = 1960,
                t_end2 = 2016)

NameError: name 'other_pop' is not defined

In [138]:
def update_hypo(other_pop, year, system2):
      """Update population based on what could have been.
    
    current_pop: current population
    year: what year it is
    system: system object with model parameters
    """
    system.growth = system.birth_rate*someRandomNumberForVariationsSake - system.different_death_rate_minus_genocide*someRandomNumberAlso
    net_growth = current_pop + system.growth
    return current_pop + net_growth

IndentationError: unindent does not match any outer indentation level (<ipython-input-138-cb1e68f673a8>, line 8)

In [139]:
#run both functions, plot them together, yay :)